.workshow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}
.workshow>h1{
    margin-left: 9%;
    font-size: 2.4rem;
    color: #222;
}

.workshow-card-container{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    margin: 100px 0;
    width: 100%;
    margin-top: 0;
}
.workshow-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.workshow-card-container>:nth-child(even){
    flex-direction: row-reverse;
}

.workshow-img-container{
    /* max-height: 400px; */
    max-width: 350px;
    /* overflow: hidden; */
    /* border-radius: 4px; */
    /* box-shadow: 1px 3px 7px #ccc; */
    position: relative;
    transition: 1s ease;

}
.workshow-img-container>img{
    width: 100%;
    height: auto;
}
.card-info-container{
    position: relative;
    /* right: -800px; */
    transition: 1s ease;
}

.card-info-container>h4{
    color: #333;
    padding: 4px 0;
    font-size: 1.2rem;
}

.workshow-card-info{
    max-width: 600px;
    color: #333;
}
@media (max-width:750px){
    .workshow{
        padding-left: 10px;
        width: 99%;
    }    
}
